<%- layout('./layout/main') %>
<div class="container">
    <div class="row page">
        <div class="col-12 post-view">
            <div class="row">
                <div class="col-12">
                    <div class="post-image-wrapper">
                        <img class="img-fluid" src="<%= post.image %>" />
                    </div>
                </div>
                <div class="col-10 mx-auto post-content">
                    <h1 class="page-title"><%= post.title %></h1>
                    <h2 class="post-category"><%= post.category_name %></h2>
                    <div class="post-body">
                        <div class="d-inline-block float-right post-image">
                            <img src="<%= post.image %>" class="img-fluid"/>
                        </div>
                        <p><%= post.body %></p>
                        <div class="d-flex justify-content-between align-items-center post-footer">
                            <p class="author">Create By <%= post.user.fullname %> </p>
                            <p>Created: <%= post.date_created %> </p>
                        </div>
                        <% if (post.isAuthor(user)) { %>
                            <%= error %> 
                            <form method="POST" action="<%= post.url %>?_method=DELETE">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="col-10 mx-auto">
                <div class="post-comment">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-center">
                                <h3>Comments</h3>
                            </div>
                            <% if (!post.comments.length) { %>
                                <div class="d-flex align-items-center flex-column no-comments">
                                    <h4>No comments</h4>
                                    <p>Be first to comment <%= post.title %> </p>
                                </div>
                            <% } else { %>
                                <% for( let comment of post.comments ) { %>
                                    <div class="d-flex comment">
                                        <div class="comment-author-image">
                                            <img src="<%= comment.user.image %>" class="img-fluid">
                                        </div>
                                        <div class="position-relative comment-content">
                                            <h5><%= comment.user.fullname %></h5>
                                            <p><%= comment.body %> </p>
                                            <% if (comment.isAuthor(user)) { %>
                                                <form class="comment-delete-form" method="POST" action="<%= comment.url %>?_method=DELETE">
                                                    <button class="btn btn-danger btn-delete">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="col-8 mx-auto">
                            <% if (user) { %>
                                <div class="d-flex justify-content-center">
                                    <h3 class="form-title">Add comment</h3>
                                </div>
                                <form method="POST" action="<%= `${post.url}` %>">
                                    <div class="form-group">
                                        <label for="comment">Comment</label>
                                        <textarea name="body" class="form-control" placeholder="Write comment"><%= form.oldInput('body') %></textarea>
                                        <% if (form.hasError('body')) { %>
                                            <%= form.getError('body') %> 
                                        <% } %>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary">Comment</button>
                                    </div>
                                </form>
                            <% } else { %>
                                <div class="d-flex flex-column align-items-center justify-content-center">
                                    <h4>Sign In to add comment</h4>
                                    <a href="/login" class="btn btn-primary">Sign In</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>